<!doctype html>
<html lang="en">

<head>
  <title>SANS &mdash; Web development</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/resources/frontend/css/animate.css">
  <link rel="stylesheet" href="/resources/frontend/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/resources/frontend/css/jquery.fancybox.min.css">


  <link rel="stylesheet" href="/resources/frontend/fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/resources/frontend/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/resources/frontend/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="/resources/frontend/css/style.css">
  
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>
<body>
  