 <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="mb-4">Sobre Sans</h3>
          <p class="mb-5">Somos uma equipa de profissionais de desenvolvimento web que tem como objectivo satisfazer as
             necessidades dos nossos clientes de forma profissional e responsável, oferecendo as melhores soluções para
              cada projecto.</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-5 mb-5 pl-md-5">
          <div class="mb-5">
            <h3 class="mb-4">Contactos</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Morada:</span>
                <span class="text-white">34 Street Name, City Name Here, United States</span>
              </li>
              <li class="d-block">
                <span class="d-block">Telefone:</span><span class="text-white">+1 242 4942 290</span>
              </li>
              <li class="d-block">
                <span class="d-block">Email:</span><span class="text-white">info@yourdomain.com</span>
              </li>
            </ul>
          </div>

          
        </div>
        <div class="col-md-3 mb-5">
          <h3 class="mb-4">Outros</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="payments.html">Outros pagamentos</a></li>
            <li><a href="#rainbow">Sobre</a></li>
            <li><a href="#">Termos de uso</a></li>
            
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      
    </div>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#f4b214" /></svg></div>

  <script src="/resources/frontend/js/jquery-3.2.1.min.js"></script>
  <script src="/resources/frontend/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/resources/frontend/js/popper.min.js"></script>
  <script src="/resources/frontend/js/bootstrap.min.js"></script>
  <script src="/resources/frontend/js/owl.carousel.min.js"></script>
  <script src="/resources/frontend/js/jquery.waypoints.min.js"></script>
  <script src="/resources/frontend/js/jquery.fancybox.min.js"></script>
  <script src="/resources/frontend/js/jquery.stellar.min.js"></script>
  <script src="/resources/frontend/js/main.js"></script>
  </body>
</html>