
<div class="empresasMain">

<div class="sideBar">
    <br>
    <div class="empresasWorkSearch">
      <div class="workSearchTitle">
        
        <h3>Transportes </h3>
        <p>Portugal <i class="fas fa-arrows-alt-h"></i>   Suiça</p>
        
      </div>
      <div class="worksearch2">
        
        <div class="form__group">
          <select type="text"   class="form__input" id="pais2" placeholder="Filtrar por" required="" >
            <option value="1" style="display: none;">País de origem...</option>
              <option value="1">Portugal</option>
              <option value="2">Suiça</option>
          </select>
         
        </div>
        
        <div class="inflex">
        <div class="form__group">
        <select type="text"  class="form__input" id="cityorigem" placeholder="Filtrar por" required="" >
            <option style="display: none;">Cidade de origem...</option>
            
            <option class="pt">Braga</option>
            <option class="sw">Suiça</option>
            <option class="pt">Porto</option>
            <option class="sw">Suiça</option>
        </select>
        
        </div>
        <div class="form__group">
        <select type="text"  class="form__input" id="citydestin" placeholder="Filtrar por" required="" >
          <option style="display: none;">Cidade de destino...</option>
          <option class="ptdes">Braga</option>
          <option class="swdes">Suiça</option>
          <option class="ptdes">Porto</option>
          <option class="swdes">Suiça</option>
        </select>
        </div>
        </div>
       
        <div class="form__group" id="btnsearch1">
          <input type="submit" value="&#xF002; Procurar" class="form__input" id="name" placeholder=" Search" required=""style="font-family:Arial, FontAwesome" />            
        </div>
      </div>
    </div>
    <br><br>
    
    <div class="empresasPublicidade" style="margin-right:0px;">
    
      <section class="news" id="publicidade1">
        <header class="main-post-wrapper">
            <div class="progress-bar progress-bar--primary hide-on-desktop">
              <div class="progress-bar__fill"></div>
            </div>
            <div class="slides">
              <article class="main-post main-post--active">
                <div class="main-post__image">
                  <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2019-Races/Monaco2019/McLarenMonaco19.jpg.transform/9col/image.jpg" alt="New McLaren wind tunnel 'critical' to future performance, says Tech Director Key" />
                </div>
                <div class="main-post__content">
                  <div class="main-post__tag-wrapper">
                    <span class="main-post__tag">News</span>
                  </div>
                  <h1 class="main-post__title">New McLaren wind tunnel 'critical' to future performance, says Tech Director Key</h1>
                  <a class="main-post__link" href="#">
                        <span class="main-post__link-text">find out more</span>
                        <svg
                          class="main-post__link-icon main-post__link-icon--arrow"
                          width="37"
                          height="12"
                          viewBox="0 0 37 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                            stroke="white"
                          />
                        </svg>
                      </a>
                </div>
              </article>
              <article class="main-post main-post--not-active">
                <div class="main-post__image">
                  <img src="https://www.formula1.com/content/dam/fom-website/sutton/2019/Hungary/Saturday/1017645792-LAT-20190803-_2ST5188.jpg.transform/9col-retina/image.jpg" alt="What To Watch For in the 2019 Hungarian Grand Prix" />
                </div>
                <div class="main-post__content">
                  <div class="main-post__tag-wrapper">
                    <span class="main-post__tag">Video</span>
                  </div>
                  <h1 class="main-post__title">What To Watch For in the 2019 Hungarian Grand Prix</h1>
                  <a class="main-post__link" href="#">
                        <svg
                          class="main-post__link-icon main-post__link-icon--play-btn"
                          width="30"
                          height="30"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="10"
                            cy="10"
                            r="9"
                            stroke="#C20000"
                            stroke-width="2"
                          />
                          <path d="M14 10L8 6V14L14 10Z" fill="white" />
                        </svg>
                        <span class="main-post__link-text">play video</span>
                      </a>
                </div>
              </article>
              <article class="main-post main-post--not-active">
                <div class="main-post__image">
                  <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2019-Races/Austria-2019/Top3Austria2019.jpg.transform/9col-retina/image.jpg" alt="Hamilton wants harder championship fight from Leclerc and
                      Verstappen" />
                </div>
                <div class="main-post__content">
                  <div class="main-post__tag-wrapper">
                    <span class="main-post__tag">News</span>
                  </div>
                  <h1 class="main-post__title">Hamilton wants harder championship fight from Leclerc and Verstappen
                  </h1>
                  <a class="main-post__link" href="#">
                        <span class="main-post__link-text">find out more</span>
                        <svg
                          class="main-post__link-icon main-post__link-icon--arrow"
                          width="37"
                          height="12"
                          viewBox="0 0 37 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                            stroke="white"
                          />
                        </svg>
                      </a>
                </div>
              </article>
            </div>
          </header>
          
          
        </section>
    </div>
     
   </div>