<% include partials/header.ejs %>



<div class="sobrenosMenu"  style="height: 3600px;">
    <div class="caixa"><br>
    <div class="titleSobrenos"><h1>Portugal Lá fora</h1></div>
    <img style="width: 600px;height: 300px;"  src="/resources/images/portugalsobrenos.jpg">
    <div class="subtitleSobrenos" style="color: rgb(169, 169, 170);"><h2>A nossa politica de privacidade</h2></div>
    <div class="textoSobrenos" style="height: 2000px;">A política de privacidade a seguir indicada descreve as nossas práticas relativas aos tipos de
        informação pessoal recolhida através da utilização da webpage Portugal lá Fora, no
        sítio http://portugal-la-fora.com/.
        <br>
        
          Finalidades da Recolha de Dados: <br>
        Os dados pessoais são recolhidos e geridos sob esta política com os seguintes propósitos:
        <br>
        ● Investigar, monitorar e permitir a monitorização independente da entrega e dos resultados
        das Inovações Democráticas geridas através desta plataforma;<br>
        ● Estudar e pesquisar a forma como os utilizadores e os visitantes usam o Serviço;<br>
        ● Comunicar com aos utilizadores as eventuais atualizações do Serviço e das suas políticas;<br>
        ● Fornecer informações periódicas sobre o conteúdo do Site, de acordo com as preferências de
        notificação configuradas por cada utilizador;<br>
        ● Cumprir as leis da União Europeia e de Portugal.<br>
        
        Em caso algum, o Controlador de Dados pode:<br>
        ● vender ou alugar quaisquer dados pessoais recolhidos neste Sítio, seja por que motivo for.<br>
        ● utilizar quaisquer dados pessoais recolhidos neste Sítio para comercialização ou quaisquer
        fins comerciais.<br>
         Dados recolhidos são:<br>
        Dados pessoais:<br>
        Para registar novos utilizadores, os dados pessoais recolhidos neste Sítio são os seguintes.<br>
        ⦁ Nome
        ⦁ Endereço de e-mail
        ⦁ Idade
        ⦁ Endereço
        ⦁ Género
        
        ⦁ Número de telefone<br>
        Estudos:<br>
        O Portugal lá fora poderá propor, aos utilizadores deste Serviço, a resposta a questionários e
        a elaboração de estudos relativamente a:<br>
        - experiência dos utilizadores com o Serviço
        
        A realização destes estudos e a resposta a estes questionários são voluntárias, tendo os
        utilizadores a liberdade de as fazerem ou lhes responderem.<br>
        Os dados recolhidos através de inquéritos e questionários serão geridos como dados pessoais
        adicionais, adotando as mesmas medidas de segurança e privacidade descritas nesta política.<br>
        
        Informação pessoal não identificável<br>
        O Serviço recolhe igualmente informações, que não são de identificação pessoal, semelhante, à
        que os motores de busca e servidores da Internet habitualmente disponibilizam, tais como, o
        tipo de motor de busca, a preferência de idioma, o sítio de referência ou data e hora de cada
        solicitação do visitante.<br><br>
        Informação pessoal potencialmente identificável<br>
        O Serviço recolhe informações potencialmente identificáveis, tais como os endereços IP
        (Internet Protocol). No entanto,  não utiliza essas informações para
        identificar os seus visitantes e não divulga essas informações, adotando as mesmas medidas de
        segurança e privacidade descritas nesta política para os dados pessoais.<br>
        Conteúdos criados pelo utilizador e informações pessoais identificáveis
        O Serviço pode acolher discussões, comentários, propostas e outros conteúdos criados pelos
        utilizadores durante o uso da plataforma.<br>
        Estes Conteúdos Criados pelo Utilizador podem identificar o utilizador pessoalmente para
        terceiros e, em alguns casos, para o público em geral. Os utilizadores não devem disponibilizar
        informação de identificação pessoal através do conteúdo publicado neste Site.
        Cada utilizador pode proceder à configuração de privacidade relativa ao conteúdo publicado e
        sua visibilidade na Internet, assim como e usar um pseudónimo e um endereço de e-mail
        anónimo.<br>
        Para obter informações adicionais sobre o conteúdo criado pelo utilizador, consultar os Termos
        de Serviço (link).<br>
         d) Segurança e Integridade de Dados<br>
        O Portugal Participa toma todas as medidas necessárias para proteger os dados pessoais e os
        conteúdos dos utilizadores contra perda e uso indevido, bem assim como acesso não
        autorizado, divulgação, alteração e destruição.
        Segurança física de dados
        A central de dados, na qual estes são arquivados e preservados, tem políticas de segurança
        restritas relativamente ao seu acesso físico. O acesso a esta central está circunscrito ao CTO e
        ao CISO, sendo gerido através de dois níveis de segurança: chave física e alarme. Todo o acesso
        é registado no sistema de alarme e documentado nos procedimentos internos da Skydraft.
        A infraestrutura de arquivo de dados é suportada por servidores redundantes e sistemas de
        armazenamento profissionais com mecanismos ativos e reforçados de protecção ao nível físico
        e fornecimento de energia (sistemas UPS). O armazenamento utiliza dispositivos SAN de canal
        
        de fibra RAID e vários servidores. O sistema de backup inclui procedimentos automatizados
        para garantir a proteção de dados, a dois níveis: backups internos da central de dados e backups
        externos da mesma. Os backups internos incluem cópias diárias automatizadas e mantêm um
        histórico de dois anos. Os backups externos são executados semanalmente e mantêm um
        histórico de até dois anos. Todos os níveis de backup utilizam tecnologias de criptografia e o seu
        acesso é controlado no SIEM da Skydraft. De facto, os alertas de nível 1 (isto é, aqueles
        assinalados como de alto nível) no SIEM são enviados para o CISO para análise das possíveis
        ameaças à segurança.<br>
        Segurança de dados informáticos<br>
        A plataforma implementa mecanismos de segurança para proteger os dados e gerir o acesso a
        eles. Como a plataforma tem vários componentes independentes, estes estão distribuídos por
        diferentes servidores. Todos os dados, especialmente os pessoais, são protegidos através de
        componentes específicos, que apenas permitem o acesso a esses dados e a outros
        componentes com códigos JWT válidos (gerados através de mecanismos de autenticação
        válidos). Todos os códigos têm políticas rígidas quanto à sua validade (ou seja, 10 minutos),
        exigindo novos logins para se obterem códigos válidos.<br>
        Conforme mencionado, todas as transações que requerem acesso a dados, requerem códigos
        válidos. Como tal, nenhum acesso a dados pode ser feito sem um login válido e permissões de
        acesso, que são definidas de acordo com o papel do utilizador (por exemplo, o gestor de uma
        entidade, ou simplesmente como um utilizador participante num processo de votação).
        Todos os acessos são analisados no SIEM da Skydraft, onde os eventos de nível 1 (assinalados
        como de alto nível) são enviados para o CISO, enquanto o nível 2 (ou seja, marcado com
        gravidade média) e o nível 3 (ou seja, marcado com baixa gravidade) são geridos pelo
        administrador da rede e pelos operadores de sistemas da Skydraft.<br>
         e) Preservação de dados pessoais<br>
        Os dados pessoais processados para qualquer finalidade não serão mantidos por mais tempo do
        que o necessário para esse fim e, em qualquer caso, não mais de um ano após o último acesso
        do utilizador ao Serviço.<br>
         f) Procedimentos de acesso aos dados pessoais<br>
        Cada utilizador tem o direito de aceder a todos os seus dados pessoais e informações recolhidas
        através deste Serviço e saber como essas informações são processadas. Se pretender saber
        quais as informações e dados pessoais recolhidos, deve dirigir-se, por escrito, ao Provedor
        (portugallafora@gmail.com) responsável por este Serviço, de acordo com o procedimento
        identificado nos Termos de Serviço (link).<br>
         g) Procedimentos de saída<br>
        
        Cada utilizador tem o direito de se retirar do Serviço e obter a remoção de todos os seus dados
        pessoais e informações recolhidas através deste Serviço. Se pretender faze-lo, deve dirigir-se,
        por escrito, ao Provedor (portugallafora@gmail.com) responsável por este Serviço, de acordo
        com o procedimento identificado nos Termos de Serviço (link).<br>
         i) Acesso de terceiros a dados pessoais<br>
        Para fornecer algumas funcionalidades do Portugal lá fora e um alto nível de serviço, este
        pode partilhar dados de utilizadores com terceiros. Ver mais detalhes sobre os Serviços de
        Terceiros nos Termos de Serviço aqui (link).<br>
         j) Entidade responsável pela aprovação / revisão da política
        Esta política foi desenvolvida pela Associação In Loco enquanto entidade coordenadora do site
        e da RAP.<br>
        A entidade coordenadora poderá alterar esta política no futuro, no âmbito dos princípios éticos
        referidos nos nossos Termos de Serviço. Qualquer política alterada entrará em vigor após a
        publicação neste Sítio, e a entidade coordenadora fará todos os esforços possíveis para
        comunicar essas alterações, seja por e-mail ou através do sítio.<br>
         k) Data de funcionamento da Versão e da Política<br>
        A versão actual da política de privacidade é o 1.0.<br>
        É válida desde 01/01/2017 até que uma nova versão da política seja disponibilizada.<br>
         l) Enquadramento legal da política
        O quadro regulamentar para a protecção e gestão de dados obedece às seguintes normas e
        regulamentos da União Europeia e das leis de Portugal, onde o Serviço está efectivamente
        estabelecido:<br>
        ENQUADRAMENTO INTERNACIONAL:<br>
        ⦁ Regulação da Comissão Europeia (EU) Nº 611/2013 de 24 de Junho de 2013 Sobre as
        medidas aplicáveis à notificação de violação de dados pessoais nos termos da Directiva
        2002/58/CE do Parlamento Europeu e do Conselho de Privacidade e Comunicações
        Eletrónicas.<br>
        ENQUADRAMENTO NACIONAL:<br>
        
        ⦁ Artigo 35º da Constituição da República Portuguesa – utilização da informática
        ⦁ Lei 67/ 98 – Lei da proteção de Dados Pessoais<br>
        ⦁ Lei 41/2004 - Regula a proteção de dados pessoais no sector das Comunicações
        Eletrónicas (alterada e republicada)<br>
        ⦁ Lei 32/2008 - transpõe a Diretiva da Retenção de Dados, relativa à conservação de
        dados das comunicações eletrónicas ”<br>
        Regulador Nacional: Comissão Nacional de Proteção de Dados - CNPD (https://www.cnpd.pt/)
        ⦁ Lei nº 43/2004 de 18 de Agosto - regula a organização e o funcionamento da CNPD,
        bem como o estatuto pessoal dos seus membros.<br>
        m) Contacto<br>
        Se tiver
        alguma dúvida ou perguntas não respondidas por esta política:<br>
        ENDEREÇO<br>
        GEorg-kempfstrasse<br>
        Zurich 8046<br>
        portugallafora@gmail.com<br>
        
   
</div>


</div>
</div>
</div>
<style> footer{margin-top: 60px;}</style>
<% include footer.ejs %>