<!DOCTYPE html>
<html lang="en">
 <head>
    <title> Portugal lá Fora - A plataforma dos Portugueses na Suiça</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165286586-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165286586-1');
</script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="DS">
  <meta name="description" content="Plataforma para os emigrantes Portugueses na Suiça, aqui encontras as ultimas noticias e os artigos maisinteressantes sobre a Suiça">
  <meta name="keywords" content="Plataforma para os Portugueses no estrangeiro">
  <link href="/blog/resources/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
  <link rel="stylesheet" type="text/css" href="/blog/resources/css/empresas.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/conteudo.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <script type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
  <script data-ad-client="ca-pub-1839405568230983" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
  <header>
    <div class="content" id="navbar" style="width: 100%;">
        <div id="logo">
          <a href="/" style="text-decoration: none;"> <img  src="/resources/images/Color logo - no background.png"> </a>
       </div>
    
       <div class="tutorial" id="dropmenu" style="position: relative;">
        <ul id="dropdown">
              
          <li><a >Empresas </i></a>
              <ul>
                <li><a href="/empresas">Empresas</a> </li>
                <li><a href="/charge"> Adicionar empresas</a></li>
                </ul>
              </li>

              <li><a >Empregos </i></a>
                <ul>
                  <li><a href="/empregosall">Empregos</a> </li>
                  <li><a href="#"> Adicionar empregos</a></li>
                  </ul>
                </li>

          <li><a >Artigos </i></a>
          <ul>
                  <li><a href="/artigos">Ver todos os artigos</a></li>
                 
                </ul></li>
          <li><a >Viagens </i></a>
          <ul>
                  <li>Sobre as nossas viagens <li></li>
                </ul></li>  
          <li><a >Mais </a>
                  <ul>
                          <li><a href="/sobrenos"> Sobre nós</a></li>
                            <li><a href="/contato">Contatos</a></li>
                          
                        </ul></li>         
                <li id="atuaconta"><a ><i class="fas fa-user"></i>  A tua conta </a >
                  <ul>
                    <li><a href="/login">Entra</a> </li>
                    <li><a href="/signup">Registra-te</a> </li>
                    <li><a href="/profile">O teu perfil</a></li>
                    
                  </ul></li>   

      </ul>      
      </div>  
     
      
      <div onclick="myFunction7()" class="device" id="device">
       <a  id="burger" class="open-main-nav">
       <span class="burger"><i  class="fas fa-bars"></i></span></a>
        
       
       
       <nav class="main-nav" id="main-nav" >
         
       <ul >
         <a href=""><span onclick="myFunction10()" id="x">X</span></a>
       <li><a href="/index">Home </a></li>
       <li><a href="#" onclick="myFunction1()">Empresas <i class="fas fa-chevron-down fa-xs"></i></a>
           <ul  id="empresas" style="display:none;">
             <li><a href="/empresas">Empresas </a> </li>
             <li><a href="/charge"> Adicionar empresas </a></li>
             </ul>
           </li>
       <li><a href="#" onclick="myFunction2()"> Transportes<i class="fas fa-chevron-down fa-xs"></i></a>
         <ul id="empresas2">
           <li><a href="#">Procurar Transportes</a> </li>
         
           
         </ul></li>
       <li><a href="#" onclick="myFunction3()" >Artigos<i class="fas fa-chevron-down fa-xs"></i></a>
       <ul id="empresas3">
               <li><a href="/artigos">Ver todos os artigos</a></li>
              
             </ul></li>
       <li><a href="#" onclick="myFunction4()" >Viagens <i class="fas fa-chevron-down fa-xs"></i></a>
       <ul id="empresas4">
               <li>Sobre as nossas viagens <li></li>
             </ul></li>  
       <li><a href="#" onclick="myFunction5()" >Mais <i class="fas fa-chevron-down fa-xs"></i></a>
               <ul id="empresas5">
                       <li><a href="/sobrenos"> Sobre nós</a></li>
                         <li><a href="/contato">Contatos</a></li>
                       
                     </ul></li>         
             <li><a href="#" onclick="myFunction8()" ><i class="fas fa-user"></i>  A tua conta  <i class="fas fa-chevron-down fa-xs"></i></a >
               <ul id="empresas6">
                 <li><a href="/login">Entra</a> </li>
                 <li><a href="/signup">Registra-te</a> </li>
                 <li><a href="/profile">O teu perfil</a></li>
                 
               </ul></li> 
               <ul id="empresas10" style="display: none;">
                 <li>Sobre as nossas viagens </li>
               </ul>  

           </ul>   
        </nav>
     </div>
       
           <script>
               function myFunction1() {
                  document.getElementById("empresas").style.display =  ((empresas.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction2() {
                  document.getElementById("empresas2").style.display =  ((empresas2.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction3() {
                  document.getElementById("empresas3").style.display =  ((empresas3.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction4() {
                  document.getElementById("empresas4").style.display =  ((empresas4.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction5() {
                  document.getElementById("empresas5").style.display =  ((empresas5.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction8() {
                  document.getElementById("empresas6").style.display =  ((empresas6.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction7() {
                  document.getElementById("main-nav").style.display =  ((empresas10.style.display!='block') ? 'block' : 'none');
                 }
                 function myFunction10() {
                   var x = document.getElementById("main-nav");
                 if (x.style.display === "block") {
                  x.style.display = "none";
                     } else {
                 x.style.display = "block";
                   }
                   }
                


                 function myFunction9(x) {
 if (x.matches) { // If media query matches
   document.getElementById("burger44").style.display = "block";
 } else {
   document.getElementById("burger44").style.display = "none";
 }
}

var x = window.matchMedia("(max-width: 1000px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction9) 


             </script>

       <style>
         #logo img{width: 17%;height:40px ; position: absolute; margin-top: -20px;margin-left: -105px;}
         #device ul a{
           text-decoration: none;
           color: white;
           
         }
         #main-nav ul li a{
           line-height: 50px;
           font-size: 25px;
           margin-left: 10px;
           
         }
        
        
         #device ul{
           float: left;
         list-style: none;
         width: 100%;
         margin-left:-310px ;
         position: fixed;
         background-color: rgb(87, 86, 86);
         height: 100%;
       }

         #device{
         display: none;
         margin: auto;
         justify-content: center;
        
         }
         .burger{
           margin: auto;
           justify-content: center;

         }
         .burger i{font-size:30px ;
         margin: auto;
         position: fixed;
         justify-content: center;
       margin-top: -10px;
     margin-left: -10%;}
     .burger i:hover{
       cursor: pointer;
     }


         #main-nav {
           display:none;
          position: relative;
           padding-top: 0px;
           background-color: rgb(102, 102, 102);
           height: 700px;
           
           margin-top: -10px;
           list-style: none;
           
         }
         #x{ color: white;
         font-size: 34px;}

          #main-nav ul li ul {
           display: none;
            margin-left: 20px;
            
           border: #9da1a1;
                border-top-style: solid;
           border-width: thin;
             border-bottom-style:solid ;
           padding-bottom: -20px;
               margin-bottom: 10px;
           height: fit-content;

           }
           #main-nav ul li ul {
             margin-left: -40px;

            
            color: rgb(218, 216, 216);

           }
           .empresasBusca{display:none;}
            
            .empresasBusca{
               background-color:rgb(141, 137, 137); 
                text-decoration: none;
               }

               .empresasBusca:hover{
              cursor: pointer;
                           background-color: rgb(128, 126, 126);
                   }
                   .sideBar2{display:none;}
                   #sidebarartigos2{display: none;}
                  footer{margin-top: -130px;}
                 





        /* Main menu positionning */
        @media all and  (max-width: 1000px) {
          #device{
          display: block;
          }
          #logo img{width: 18%;height:38px ; position: absolute; margin-top: -20px;margin-left: 5%;}
         
        
         }
         @media all and  (max-width: 950px) {
           .empresasBusca{display:contents;}
           #logo img{width: 36%;height:40px ; position: absolute; margin-top: -20px;margin-left: 5%;}
         
           
           .sidebarpublicidade2{display: block;}
           #sidebarartigos2{display: block;}
           .sideBar2{display: block;
           }
           .sidebarpublicidade{display: none;}
           #sidebarartigos{display: none;}
           .burger i{
            margin-left: 30px;
          }
          main{
            min-height:100% ;
            margin: 10px;
          }
          #logo{margin-left: 20px;}
          
          
          
          #device{
          display: block;
          margin: auto;
          float: right;
          }
          #navbar{
            max-width: 950px;
          }
          #main-nav{overflow: hidden; }
          #contactos{
            display: none;
            
          }

          }
          @media all and  (max-width: 950px) {
           #device ul{margin-left: -210px;
          }
          .burger i{
            margin-left: 30px;
          }
          .comentariosIndex{
            display: block; width: 100%;}
          }
         
          @media  (max-width: 950px) {
        .empresasMain{
             display: block;
             margin: auto;
                       }
         .destaque1{ display: block;}
         .rightcards{display: none;}
       }
        @media  (max-width: 650px) {
         #logo img{width: 48%;height:50px ; position: absolute; margin-top: -20px;margin-left: 0;}
         .burger i{
            margin-left: 100px;
          }
         
       }


         </style>
      
        <div id="contactos">
            
        </div>
    </div>
</header>   
<script>let burger = document.getElementById('burger'),
  nav    = document.getElementById('main-nav'),
  slowmo = document.getElementById('slowmo');

burger.addEventListener('click', function(e){
 this.classList.toggle('is-open');
 nav.classList.toggle('is-open');
});

slowmo.addEventListener('click', function(e){
 this.classList.toggle('is-slowmo');
});

/* Onload demo - dirty timeout */
let clickEvent = new Event('click');

window.addEventListener('load', function(e) {
 slowmo.dispatchEvent(clickEvent);
 burger.dispatchEvent(clickEvent);
 
 setTimeout(function(){
   burger.dispatchEvent(clickEvent);
   
   setTimeout(function(){
     slowmo.dispatchEvent(clickEvent);
   }, 3500);
 }, 5500);
});</script>

 


    



<div class="empresasMain" style="margin-top: 60px;" >

    

    <style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>

    
     




   