<%- include('./../header') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Edit Country</h1>
			<form action="./save_edit_country?id=<%= result.id %>" method="POST">
			  
			  <div class="form-group">
				<label for="exampleInputPassword1">Country Name</label>
				<input type="text" class="form-control" value="<%= result.name %>" id="name" required placeholder="Country Name" name="name">
			  </div>
			  
			  
			  
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
			
			</form>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
	  
<%- include('./../footer') %>